.idea
target

node_modules

out/

/.gradle/
/build/
/app/build/
output/

app/src/main/resources/application-local*.yaml

*.binpb
protos/openapi.yaml
integration-test/pace.log
integration-test/awk
integration-test/cut
app/src/test/resources/openai.properties

grpc-proxy/envoy-local.yaml
protos/temp
