<configuration scan="true" scanPeriod="30 seconds">

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg %X{strm-host}%n</pattern>
    </encoder>
  </appender>

  <root level="INFO">
    <appender-ref ref="STDOUT" />
  </root>

  <logger name="org.apache.kafka" level="INFO"/>
  <logger name="org.eclipse.jetty" level="INFO"/>
  <logger name="io.netty" level="INFO"/>
  <logger name="com.zaxxer.hikari" level="ERROR"/>

  <logger name="org.jooq.tools" level="INFO"/>
  <!-- Turn off the 'Thank you for using Jooq message' -->
  <logger name="org.jooq.Constants" level="OFF"/>

  <logger name="[Koin]" level="ERROR"/>
</configuration>
